:root {
        --dark-bg: #030718;
        --light-btn-mobile: #E7F7F8;
        --white: #FFFFFF;
        --purpule: #6a54ff;
        --blue-btn: rgb(87, 225, 255);
}

html {
        scroll-behavior: smooth;
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

ul,
ol {
        list-style: none;
}

a {
        text-decoration: none;
}

img {
        display: block;
}

body {
        font-family: "IBM Plex Sans", sans-serif;
        background-color: var(--dark-bg);
        color: #fff;
}

button {
        cursor: pointer;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
}

.container {
        max-width: 375px;
        margin: 0 auto;
        padding: 0 16px;
}

.section-divider {
        position: relative;
}

.divider {
        position: absolute;
        width: 100%;
        height: 32px;
        fill: var(--white);
        z-index: 1;
        top: -24px;
}

.divider-line {
        position: absolute;
        left: 0;
        top: -24px;
        height: 32px;
        width: 50vw;
        background-color: var(--white);
        z-index: 0;
}

.section-header {
        font-size: 28px;
        letter-spacing: -4%;
        line-height: 36px;
        text-transform: uppercase;
        font-weight: 700;
}


@media (min-width: 1200px) {
        .container {
                max-width: 1300px;
                padding: 0 10px;
        }

        .divider {
                height: 72px;
                top: -60px;
                transform: translateX(-200px);
                ;
        }

        .divider-line {
                top: -60px;
                height: 72px;
                transform: translateX(-200px);
        }

        .section-header {
                font-size: 44px;
                line-height: 56px;
                letter-spacing: -4%;
        }
}



/* == header == */

.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.nav-desktop {
        display: none;
}

.burger-button-icon {
        fill: var(--light-btn-mobile)
}

.close-button-icon {
        fill: var(--white)
}

.header-sidebar {
        position: fixed;
        top: 0;
        right: -100%;
        /* за экраном */
        width: 100%;
        max-width: 3375px;
        height: 100vh;
        background-color: var(--purpule);
        box-shadow: -2px 0 12px rgba(0, 0, 0, 0.2);
        z-index: 10;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition:
                right 0.4s ease-in-out,
                opacity 0.3s ease,
                transform 0.4s ease;

        opacity: 0;
        transform: translateX(50px);
}

.header-sidebar.active {
        right: 0;
        opacity: 1;
        transform: translateX(0);
}

.close-button {
        position: absolute;
        top: 8px;
        right: 8px;
}

.nav-mobile {
        padding-top: 84px;
}

.auth-btns-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
}

.auth-btn {
        padding: 12px 0;
        border-radius: 3px;
        background-color: var(--blue-btn);
        color: var(--dark-bg);
        font-weight: 500;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 20px;
        width: 100%;
        box-shadow: 0 0 4px 0 #57E1FF;
}

.auth-btn-alternative {
        background-color: transparent;
        border: 2px solid var(--blue-btn);
        color: var(--blue-btn);
}

.nav-mobile-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        align-self: start;
}

.nav-mobile-list>li>a {
        color: var(--white);
}

.auth-desktop-wrapper {
        display: none;
}



@media (min-width: 1200px) {
        .header {
                justify-content: flex-start;
        }

        .logo {
                cursor: pointer;
        }

        .burger-button-icon {
                display: none;
        }

        .header-sidebar {
                display: none;
        }

        .nav-desktop {
                display: block;
                margin-left: 129px;
        }

        .nav-desktop>ul {
                display: flex;
                flex-direction: row;
                gap: 32px;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
        }

        .nav-desktop>ul>li>a {
                color: #b3b5ba;
                transition: all 0.3s ease;
        }

        .nav-desktop>ul>li>a:hover,
        .nav-desktop>ul>li>a:focus {
                color: var(--blue-btn);
                transition: all 0.3s ease;
        }

        .auth-desktop-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 12px;
                margin-left: auto;
        }

        .auth-btn-desktop {
                padding: 11px 24px;
                font-size: 14px;
                line-height: 20px;
                transition: all 0.3s ease;
        }

        .auth-btn-desktop:hover,
        .auth-btn-desktop:focus {
                background-color: var(--purpule);
                transition: all 0.3s ease;
        }

        .auth-btn-alternative {
                background-color: rgba(87, 225, 255, 0.2);
        }
}

/* == hero == */

.hero {
        display: flex;
        flex-direction: column;
        gap: 33px;
        padding: 40px 0 60px 0;
}

.hero-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
}

.hero-header {
        font-size: 35px;
        letter-spacing: -4%;
        line-height: 44px;
        text-transform: uppercase;
        color: var(--white);
        font-weight: 700;
}

.hero-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--light-btn-mobile);
}

.hero-form {
        display: block;
        background-color: #201A4F;
        border-radius: 4px;
        margin-top: 12px;
        padding: 4px;
        position: relative;
}

.hero-btn {
        position: absolute;
        right: 4px;
        top: 4px;
        color: var(--dark-bg);
        line-height: 20px;
        font-size: 14px;
        font-weight: 500;
        padding: 11px 24px;
        transition: all 0.3s ease;
        width: auto;
}

#hero-email {
        width: 100%;
        padding: 11px 24px;
        background-color: transparent;
        border: none;
        color: var(--white);
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
}

#hero-email::placeholder {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        letter-spacing: -1%;
        color: #6c688b
}

.hero-message {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #4f515d;
}

@media (min-width: 1200px) {
        .hero {
                display: flex;
                flex-direction: row-reverse;
                gap: 128px;
                justify-content: start;
                align-items: start;
                padding-top: 160px;
                padding-bottom: 134px;
        }

        .hero-content {
                max-width: 630px;
        }



        .hero-header {}

        .hero-text {
                max-width: 562px;
        }

        .hero-form {
                max-width: 500px;
                font-size: 16px;
        }

        .hero-btn {
                transition: all 0.3s ease;
        }

        .hero-btn:hover,
        .hero-btn:focus {
                background-color: var(--purpule);
                transition: all 0.3s ease;
        }
}

/* == numbers == */
#numbers {
        background-color: var(--white);

}

.numbers-sections {
        padding: 24px 0 48px 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
}

.numbers-header-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2px;
}

.numbers-header {

        color: #000;
}

.numbers-date {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -4%;
        color: #808080
}

.numbers-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: space-between;
}

.numbers-item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        max-width: 156px;
}

.numbers-item-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000;
        text-transform: uppercase;
}

.numbers-item-value {
        font-weight: 500;
        font-size: 35px;
        line-height: 110.00000000000001%;
        color: var(--purpule);
}

@media (min-width: 1200px) {
        .numbers-sections {
                padding: 56px 0 61px 0;
                flex-direction: row;
                gap: 156px;
        }

        .numbers-header-wrapper {
                gap: 4px;
        }

        .numbers-list {
                gap: 0px;
                justify-content: space-between;
                width: 100%;
        }

        .numbers-item {
                max-width: 100%;
                gap: 8px;
        }

        .numbers-item-text {
                font-size: 14px;
        }

        .numbers-item-value {
                font-size: 60px;
                letter-spacing: -2%;
        }
}

/* == transactions == */

.transactions {
        padding: 48px 0 77px 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
}

.transactions-header {
        color: var(--white)
}

.transactions-status {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -4%;
        color: #35FF9E;
        display: inline-flex;
        align-items: center;
}

.transactions-status::before {
        content: "";
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: currentColor;
        margin-right: 4px;
        flex: 0 0 auto;
        vertical-align: middle;
}



.transactions-item {
        width: 299px;
        height: 208px;
        position: relative;
        background-color: var(--purpule);
        scroll-snap-align: start;
        flex-shrink: 0;
        border-radius: 4px;
        padding: 16px;
        clip-path: polygon(0% 0%,
                        85% 0%,
                        100% 20%,
                        100% 100%,
                        0% 100%);
        overflow: hidden;

}

.transactions-list {
        display: flex;
        overflow-x: auto;
        gap: 8px;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        padding-bottom: 22px;
}

.transactions-list::-webkit-scrollbar {
        height: 6px;
}

.transactions-list::-webkit-scrollbar-track {
        background: #1d243b;
        border-radius: 4px;
}

.transactions-list::-webkit-scrollbar-thumb {
        background-color: #6073a1;
        border-radius: 4px;

}

.transactions-item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.transactions-item-logo {
        object-fit: contain;
        position: absolute;
        right: -24px;
        top: 10px;
        width: 160px;
        height: 160px;
}

.trasaction-item-data-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px
}

.trasaction-item-header-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2px
}

.transactions-item-header-title {
        font-size: 20px;
        line-height: 28px;
        color: var(--white);
        text-transform: uppercase;
        letter-spacing: -4%;
        font-weight: 500;
}

.transactions-item-header-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #a698ff;
        letter-spacing: -2%;
}

.transactions-item-profit-wrapper {
        display: falex;
        flex-direction: column;
        gap: 2px
}

.transactions-item-profit-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -2%;
        color: #d2ccff;
}

.transactions-item-profit-text {
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -2%;
        color: #35FF9E;
        display: inline-flex;
        align-items: center;
}

.transactions-item-profit-text::after {
        content: "↑";
        display: inline-block;
        color: #35FF9E;
        font-size: 24px;
        line-height: 1;
}

.transactions-item-target-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.transactions-item-target-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -2%;
        color: #d2ccff;
}

.transactions-item-target-date {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -2%;
        color: #a698ff;
}

@media (min-width: 1200px) {
        .transactions {
                padding: 96px 0 178px 0;
                gap: 72px;
        }

        .transactions-list {
                padding-bottom: 30px;
                gap: 20px;
        }

}

/* == about == */

#about {
        background: linear-gradient(to bottom,
                        #ffffff 0%,
                        #ffffff 75%,
                        #000000 75px,
                        #000000 100%);
}

.about-section {
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
}

.about-header {
        color: var(--dark-bg);

}

.about-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
}

.about-content-text {
        font-size: 16px;
        line-height: 20px;
        color: var(--dark-bg);
}

.about-form {
        padding: 16px;
        border-radius: 4px;
        background-color: var(--purpule);
}

.about-form-text {
        font-size: 20px;
        line-height: 28px;
        color: var(--white);
        letter-spacing: -4%;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
}

#about-email {
        display: block;
        width: 100%;
        padding: 12px 16px;
        border-radius: 4px;
        background-color: #4a3bb2;
        color: var(--white);
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 8px;
        border: none;
}

#about-email::placeholder {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        letter-spacing: -1%;
        color: #6c688b
}

@media (min-width: 1200px) {
        #about {
                background: var(--white);
        }

        .about-section {
                padding: 56px 0 92px 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
        }

        .about-content {
                gap: 40px;
                max-width: 413px;
        }

        .about-form {
                padding: 32px 68px 40px 64px;
                max-width: 630px;
        }

        .about-form-text {
                font-size: 28px;
                line-height: 36px;
                color: var(--white);
                letter-spacing: -4%;
                font-weight: 500;
                text-align: center;
                margin-bottom: 32px;
        }

        .about-form-wrapper {
                display: block;
                background-color: #4a3bb3;
                border-radius: 4px;
                margin-top: 12px;
                padding: 4px;
                position: relative;
        }

        .about-btn {
                position: absolute;
                right: 4px;
                top: 4px;
                color: var(--dark-bg);
                line-height: 20px;
                font-size: 16px;
                font-weight: 500;
                padding: 16px 24px;
                transition: all 0.3s ease;
                width: auto;
                transition: all 0.3s ease;
        }

        #about-email {
                width: 100%;
                padding: 16px 24px;
                background-color: #4a3bb2;
                border: none;
                color: var(--white);
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 0;
        }

        #about-email::placeholder {
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
                letter-spacing: -1%;
                color: #6c688b
        }

        .about-btn:hover,
        .about-btn:focus {
                background-color: var(--purpule);
                transition: all 0.3s ease;
        }
}





/* == tariffs == */

.tariffs {
        padding: 56px 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
}

.tabs-control {
        display: flex;
        flex-direction: row;
        gap: 2px;
        padding: 4px;
        border-radius: 4px;
        background-color: var(--purpule);
}

.tab-btn {
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        color: var(--blue-btn);
        padding: 8px;
        cursor: pointer;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 0.3s ease;
        text-transform: uppercase;
}

.tab-btn-active {
        background-color: var(--blue-btn);
        border-radius: 4px;
        color: #000;
}

.tab-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
}

.card-standart {
        border: 1px solid var(--purpule);
        padding: 16px;
        border-radius: 8px;
}

.card-vip {
        background-color: var(--purpule)
}

.card-title {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 24px;
}

.card-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
}

.card-list-item {
        padding: 8px 20px;
        border-bottom: 2px dashed #353946;
        line-height: 20px;
        color: var(--white);
        position: relative;

}

.card-list-item::before {
        content: "✔";
        position: absolute;
        left: 0;
        top: 8px;
        color: var(--white);
        font-size: 14px;
}

.card-tariff {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 24px;
}

.card-tariff-price {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 4px;
}

.card-tariff-price-value {
        font-size: 35px;
        line-height: 40px;
        font-weight: 500;
        letter-spacing: -4%;
        color: var(--white);
}

.card-tariff-price-discount {
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        letter-spacing: -4%;
        color: #35FF9E;
}

.card-tariff-select {
        background-color: #353946;
        border-radius: 4px;
        padding: 12px 24px;
        color: var(--white);
        line-height: 20px;
        font-size: 16px;
        font-weight: 400;
        transition: all 0.3s ease;
        padding: 6px 24px 6px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        transition: all 0.3s ease;
}

.card-tariff-select::after {
        content: "v";
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: var(--white);
}

.card-tariff-select-vip {
        background-color: #8876ff;
}

.tariff-btn>span {
        display: block;
        font-size: 12px;
        line-height: 16px;
        color: #28677e;

}

@media (min-width: 1200px) {
        .tariffs {
                padding: 96px 227px;
                display: flex;
                flex-direction: column;
                gap: 44px;
        }

        .tabs-control {
                display: flex;
                flex-direction: row;
                gap: 2px;
                padding: 4px;
                border-radius: 4px;
                background-color: var(--purpule);
                max-width: 413px;
        }

        .tab-btn {
                font-size: 24px;
                line-height: 28px;
                padding: 12px;
        }

        .tab-content {
                flex-direction: row;
                gap: 20px;
        }

        .card-title {
                font-size: 32px;
                line-height: 48px;
        }

        .card-tariff {
                margin-top: auto;
        }

        .card-standart {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
        }

        .tariff-btn {
                transition: all;
        }

        .tariff-btn:hover,
        .tariff-btn:focus {
                background-color: var(--purpule);
                transition: all 0.3s ease;
        }

        .card-tariff-select:hover,
        .card-tariff-select:focus {
                background-color: var(--blue-btn);
                transition: all 0.3s ease;
        }
}

/* == faq == */
.faq {
        padding-top: 56px;
        padding-bottom: 54px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        color: var(--dark-bg);
}

#faq {
        background-color: var(--white);
}

.faq-header {
        color: #000;
}

.faq-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
}

.faq-item {
        padding: 16px;
        cursor: pointer;
        background-color: #eaeff0;
        border-radius: 4px;
        transition: all 0.3s ease;

}

.faq-question {
        position: relative;
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
}

.faq-question::after {
        content: "^";
        position: absolute;
        right: 0;
        top: 50%;
        color: #777b84;
        transform: translateY(-50%) rotate(180deg);
        transition: transform 0.3s;
        transition: all 0.3s ease;
}

.faq-answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
        line-height: 20px;
}

.faq-item.active-question .faq-answer {
        color: var(--white);
        max-height: 200px;
        transition: all 0.3s ease;
        margin-top: 12px;

}

.faq-item.active-question .faq-question::after {
        color: var(--white);
        transform: translateY(-50%) rotate(0);
        transition: all 0.3s ease;
}

.faq-item.active-question {
        background-color: var(--purpule);
        color: var(--white);
        transition: all 0.3s ease;
}

@media (min-width: 1200px) {
        .faq {
                padding: 96px 227px;
                display: flex;
                gap: 64px;
        }

        .faq-question {
                font-size: 24px;
                line-height: 32px;
        }
}